<html>
<head>
    <link rel="stylesheet" type="text/css" href="server/static/css/site.css"/>
    <link rel="stylesheet" type="text/css" href="server/static/css/site.css"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link href="/static/css/site.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<h1 id="welcomeText" style="text-align:center">Welcome to Animus</h1>
<h4 id="subWelcomeText">A board game for the bored and pitiful</h4>
<div id="content" style="display: none">
    <table id="gamesToJoinTable" class="tg">
        {% if games is defined and games|length > 0 %}
            <tr>
                <th colspan="2" class="tg">Games Ready To Join</th>
            </tr>
            {% for gamename in games %}
                <tr>
                    <td class="tg">{{ gamename }}</td>
                    <td class="tg"><a id={{ gamename }} class="joinGameButton" onclick="joinLobby('{{ gamename }}')">Join
                        Game</a></td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <div id="createGameArea">
        <div class="largeText">Create New Game</div>
        <div>
            <div id="gameNameArea">
                <input id='gameNameInput' placeholder="Game name.." class="mediumtxtInput"/>
                <label>
                    <select name="players" id="playerCountSelector">
                        <option value="2">2 Players</option>
                        <option value="3">3 Players</option>
                        <option value="4">4 Players</option>
                        <option value="5">5 Players</option>
                        <option value="6">6 Players</option>
                    </select>
                </label>
            </div>
        </div>
        <a id="createGameButton">Create Game</a>
    </div>
</div>
<div id="userReg" style="display: none">
    <div class="newUserDetected">
        <div class="largeText">New User Detected!</div>
        <div>
            <input type="text" name="usrname"
                   id="newUserTxtInput" maxlength="10"
                   placeholder="Enter Your Name Here"
                   class="txtInput"><br>
            <a id="newUserButton">THEN HIT ME</a>
        </div>
    </div>
</div>
<div id="clearCookieButton" style="display: none">Change User</div>
</body>
<footer>
    <script src="https://cdn.socket.io/3.1.1/socket.io.min.js" integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/cookieManager.js"></script>
    <script type="text/javascript" src="/static/js/gameManager.js"></script>
    <script type="text/javascript" src="/static/js/homePage.js"></script>
</footer>
</html>