<!doctype html>
<html>
<head>
    <link href="/static/css/site.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div>
    <h1>{{ game_name }}, pre-game lobby</h1>
    <div id="lobby" gameName="{{ game_name }}">
        <div id="lobbyChat">
            <div id="chatContent"></div>
            <div id="controls">
                <input id="chatInputField">
                <input type="button" value="send" id="sendMessage">
            </div>
        </div>
        <table id="playerStatusTable">
            <tbody id="lobbyPlayerTable">
            <tr>
                <th>Race</th>
                <th>Player Name</th>
            </tr>
            {% for race in active_races -%}
                <tr>
                    <td scope="row" id="race{{ race }}row">{{ race }}</td>
                    <td><a race="{{ race }}" id="claimRaceButton">Claim Race</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="startGameButton"></div>
</div>
</body>
<footer>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/js/cookieManager.js"></script>
    <script type="text/javascript" src="/static/js/lobby.js"></script>
</footer>
</html>