<!doctype html>
<html>
<head>
    <link href="/static/css/site.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div>
    <h1>{{ game_name }}, pre-game lobby</h1>
    <div id="lobby" gameName="{{ game_name }}">
        <div id="lobbyChat">
            <div id="chatContent"></div>
            <div id="controls">
                <input id="chatInputField">
                <input type="button" value="send" id="sendMessage">
            </div>
        </div>
        <table id="playerStatusTable">
            <tbody id="lobbyPlayerTable">
            <tr>
                <th>Race</th>
                <th>Player Name</th>
            </tr>
            {% for race in active_races -%}
                <tr>
                    <td scope="row" id="race{{ race }}row">{{ race }}</td>
                    <td><a race="{{ race }}" class="claimRaceButton">Claim Race</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="startGameButton"></div>

    {% for race in active_races -%}
        <div id="heroRaceSelector-{{ race }}" class="heroSelectModal">

            <!-- Modal content -->
            <div class="heroSelectModal-content">
                <div class="hero-select-title">
                    <h1>Select your hero</h1>
                </div>
                <div class="card-holder">
                    <sc-card axis="Y" duration="1200">
                        <div class="umbra"></div>
                        <div class="penumbra"></div>
                        <div class="back" tabindex="-1">
                            <h1>OFFENSE</h1><br/>
                            <h3>+1 to all attacks</h3>
                            <button>Flip card</button>
                        </div>
                        <div class="front {{ race }}-attack" tabindex="-1">
                            <button>Flip card</button>
                        </div>
                    </sc-card>
                    <sc-card axis="Y" duration="1200">
                        <div class="umbra"></div>
                        <div class="penumbra"></div>
                        <div class="back" tabindex="-1">
                            <h1>DEFENCE</h1><br/>
                            <h3>+3 to all Defences</h3>
                            <h3>-1 to all Attacks</h3>
                            <button>Flip card</button>
                        </div>
                        <div class="front {{ race }}-defence" tabindex="-1">
                            <button>Flip card</button>
                        </div>
                    </sc-card>
                    <sc-card axis="Y" duration="1200">
                        <div class="umbra"></div>
                        <div class="penumbra"></div>
                        <div class="back" tabindex="-1">
                            <h1>ECONOMY</h1><br/>
                            <h3>+2 to all Harvests</h3>
                            <button>Flip card</button>
                        </div>
                        <div class="front {{ race }}-business" tabindex="-1">
                            <button>Flip card</button>
                        </div>
                    </sc-card>
                </div>
                <div class='hero-button-select'>
                    <button class='hero-button' id="hero-button-{{ race }}-attack"></button>
                    <button class='hero-button' id="hero-button-{{ race }}-defence"></button>
                    <button class='hero-button' id="hero-button-{{ race }}-business"></button>
                </div>
            </div>


        </div>
    {% endfor %}
</div>
</body>
<footer>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/js/cookieManager.js"></script>
    <script type="text/javascript" src="/static/js/lobby.js"></script>
    <script type="text/javascript" src="/static/js/card-flip.js"></script>
</footer>
</html>