{% extends '../layouts/default.html' %}

{% block main %}
    <h1 style="text-align:center">Welcome to JuntoWars</h1>
    <h5 style="text-align:center;color: rgb(192, 65, 65);">Home to the triumphant as well as the sorrowful</h5>
{% endblock %}

{% block content %}
    <img src="/img/main_background.jpg"
         style="display: block;
                margin-left: auto;
                margin-right: auto;
                min-width: 75%;
                max-width: 100%;
                max-height: 400px;">
{% endblock %}
