<div class="panel panel-primary">
    <div class="panel-body">
        <div id="race_bio" style="width:150px;margin-right: 20px;float: left">
            <div id="player_pic">
                <img src="/img/leader_profiles/{{ raceName }}_deploy.jpg" style="max-width: 150px;height: 182px;">
            </div>
        </div>
        <div id="deployment-deploy-panel-id" class="deployment-deploy-panel-open">
            <div id="panel-deploy-group" class="sub-panels">
                <div id="sub-deploy-panel-1" class="show-panel">
                    <span class="fa-stack fa-lg">
                         <i class="fa fa-square fa-stack-2x" style="color: #FF9800"></i>
                         <span class="fa fa-stack-1x" id="committed-infantry-value" style="color: white">0</span>
                    </span>
                    <span class="fa-stack fa-lg">
                         <i class="fa fa-square fa-stack-2x" style="color: green"></i>
                         <i class="fa fa fa-male fa-stack-1x" style="color: white"></i>
                    </span>
                    <span class="fa-stack fa-lg" id="dec-deploy-infantry">
                         <i class="fa fa-square fa-stack-2x"></i>
                         <i class="fa fa-minus-circle fa-stack-1x" style="color: white"></i>
                    </span>
                    <span class="fa-stack fa-lg">
                         <i class="fa fa-square fa-stack-2x"></i>
                         <span class="fa fa-stack-1x" id="infantry-deploy-value" style="color: white">0</span>
                    </span>
                    <span class="fa-stack fa-lg" id="inc-deploy-infantry">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-plus-circle fa-stack-1x" style="color: white"></i>
                    </span>
                </div>
                <div id="sub-deploy-panel-2" class="show-panel">
                    <span class="fa-stack fa-lg">
                         <i class="fa fa-square fa-stack-2x" style="color: #FF9800"></i>
                         <span class="fa fa-stack-1x" id="committed-ranged-value" style="color: white">0</span>
                    </span>
                    <span class="fa-stack fa-lg">
                         <i class="fa fa-square fa-stack-2x" style="color:#262cb8 "></i>
                         <i class="fa fa fa-rocket fa-stack-1x" style="color: white"></i>
                    </span>
                     <span class="fa-stack fa-lg" id="dec-deploy-ranged">
                         <i class="fa fa-square fa-stack-2x"></i>
                         <i class="fa fa-minus-circle fa-stack-1x" style="color: white"></i>
                    </span>
                    <span class="fa-stack fa-lg">
                         <i class="fa fa-square fa-stack-2x"></i>
                         <span class="fa fa-stack-1x" id="ranged-deploy-value" style="color: white">0</span>
                    </span>
                    <span class="fa-stack fa-lg" id="inc-deploy-ranged">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-plus-circle fa-stack-1x" style="color: white"></i>
                    </span>
                </div>
                <div id="sub-panel-deploy-3" class="show-panel">
                    <span class="fa-stack fa-lg">
                         <i class="fa fa-square fa-stack-2x" style="color: #FF9800"></i>
                         <span class="fa fa-stack-1x" id="committed-tank-value" style="color: white">0</span>
                    </span>
                    <span class="fa-stack fa-lg">
                         <i class="fa fa-square fa-stack-2x" style="color: #8e1da2"></i>
                         <i class="fa fa fa-truck fa-stack-1x" style="color: white"></i>
                    </span>
                     <span class="fa-stack fa-lg" id="dec-deploy-tank">
                         <i class="fa fa-square fa-stack-2x"></i>
                         <i class="fa fa-minus-circle fa-stack-1x" style="color: white"></i>
                    </span>
                    <span class="fa-stack fa-lg">
                         <i class="fa fa-square fa-stack-2x"></i>
                         <span class="fa fa-stack-1x" id="tank-deploy-value" style="color: white">0</span>
                    </span>
                    <span class="fa-stack fa-lg" id="inc-deploy-tank">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-plus-circle fa-stack-1x" style="color: white"></i>
                    </span>
                </div>
                <div id="deployment-deploy-panel-button-group">
                    <div id="deploy-deploy-button">Deploy</div>
                </div>
            </div>
        </div>
    </div>
</div>
