<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container" style="width: 80%;margin-left: 5px">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand" id="junto-home-nav">JuntoWars</a>
        </div>
    </div>
    <div id="game-state-display" class="game-state-display-text">
        <table style="width: 100%;">
            <tr>
                <td>
                    <div id="round-label">R:</div>
                </td>
                <td>
                    <div id="round-value"></div>
                </td>
                <td>
                    <div id="phase-label">P:</div>
                </td>
                <td>
                    <div id="phase-value"></div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div>
                        <span id="waiting-on-label">Waiting on: </span><span id="waiting-on-value"></span>
                    </div>
                </td>
            </tr>

        </table>
    </div>
</nav>


